.container {
	margin-top: 5%;
	margin-bottom: 5%;
}

.vega-actions {
	display: none;
}

.centered {
	text-align: center;
}

.subtext {
	color: grey;
	font-style: italic;
}

table td span:not(:last-of-type)::after {
	content: " ";
}

.table-wrapper {
	max-height: 600px;
	overflow-y: scroll;
	margin-left: 2%;
}

.table-wrapper th a {
	cursor: pointer;
}

.header-upper {
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 600;
}

.logo {
	width: 40px;
	padding: 0 4px;
	margin-bottom: -4px;
}

.graph-container {
	height: 400px;
	margin: auto;
	border: 1px solid #e0ded7;
}

.tstep-button {
	height: 24px;
	line-height: 24px;
	width: 34px;
	padding: 0;
}

.color-legend ul {
	list-style: none;
	list-style-position: inside;
	white-space: nowrap;
}

.color-legend li::before {
	content: "\02588\0020";
}

.color-legend li[data-type="dan"]::before {
	color: rgb(239,83,80);
}

.color-legend li[data-type="dmn"]::before {
	color: rgb(255,167,38);
}

.color-legend li[data-type="fpn"]::before {
	color: rgb(255,238,88);
}

.color-legend li[data-type="ln"]::before {
	color: rgb(102,187,106);
}

.color-legend li[data-type="smn"]::before {
	color: rgb(66,165,245);
}

.color-legend li[data-type="van"]::before {
	color: rgb(92,107,192);
}

.color-legend li[data-type="vn"]::before {
	color: rgb(171,71,188);
}

.color-legend li[data-type="unlabeled"]::before {
	color: rgb(189,189,189);
}
