.container {
	margin-top: 5%;
	margin-bottom: 5%;
}

.vega-actions {
	display: none;
}

.centered {
	text-align: center;
}

.subtext {
	color: grey;
	font-style: italic;
}

table td span:not(:last-of-type)::after {
	content: " ";
}

.table-wrapper {
	max-height: 600px;
	overflow-y: scroll;
	margin-left: 2%;
}

.table-wrapper th a {
	cursor: pointer;
}

.header-upper {
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 600;
}

.logo {
	width: 40px;
	padding: 0 4px;
	margin-bottom: -4px;
}

.graph-container {
	height: 400px;
	margin: auto;
	border: 1px solid #e0ded7;
}

.tstep-button {
	height: 24px;
	line-height: 24px;
	width: 34px;
	padding: 0;
}
