.container {
	margin-top: 5%;
	margin-bottom: 5%;
}

.vega-actions {
	display: none;
}

.centered {
	text-align: center;
}

.subtext {
	color: grey;
	font-style: italic;
}

.header-upper {
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 600;
}

/* Spacing of section elements */
section {
	border-top: 1px solid #eee;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-top: 5%;
}

section.no-top {
	margin-top: 0;
}

section:last-child {
	margin-bottom: 0;
}

/* Icons and tooltip styling */
.logo-icon {
	width: 40px;
	padding: 0 4px;
	margin-bottom: -4px;
}

.tooltip-icon {
	width: 24px;
	margin-bottom: -12px;
}

.tooltip {
	cursor: pointer;
	text-transform: none;
	font-weight: normal;
	letter-spacing: normal;
}

/* D3-specific */
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc text.amount {
	display: none;
}

.arc:hover text.amount {
	display: inline;
}

.arc:hover {
	fill-opacity: .8;
}

.arc path {
  stroke: #fff;
}

/* Graph styling */
.graph-container {
	height: 450px;
	margin: auto;
	border: 1px solid #e0ded7;
}

.ticker {
	margin-top: 2%;
}

.struc-ticker, .tstep-ticker {
	font-weight: bold;
}

/* Table styling */
table td span:not(:last-of-type)::after {
	content: " ";
}

.table-wrapper {
	max-height: 500px;
	overflow-y: scroll;
}

.table-wrapper th {
	text-align: center;
}

.table-wrapper th a {
	cursor: pointer;
}

.tstep-button {
	height: 24px;
	line-height: 24px;
	width: 34px;
	padding: 0;
}

/* Color legend unordered list business */
.color-legend ul {
	list-style: none;
	list-style-position: inside;
}

@media (min-width: 1000px) {
	.color-legend ul {
		white-space: nowrap;
	}
}

.color-legend li::before {
	content: "\02588\0020";
}

.color-legend li[data-type="dan"]::before {
	color: rgb(239,83,80);
}

.color-legend li[data-type="dmn"]::before {
	color: rgb(255,167,38);
}

.color-legend li[data-type="fpn"]::before {
	color: rgb(255,238,88);
}

.color-legend li[data-type="ln"]::before {
	color: rgb(102,187,106);
}

.color-legend li[data-type="smn"]::before {
	color: rgb(66,165,245);
}

.color-legend li[data-type="van"]::before {
	color: rgb(92,107,192);
}

.color-legend li[data-type="vn"]::before {
	color: rgb(171,71,188);
}

.color-legend li[data-type="unlabeled"]::before {
	color: rgb(189,189,189);
}
