<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>TimeCrunch Viz</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" type="text/css">
	<style>
		.vega-actions {
			display: none;
		}
		.subtext {
			color: grey;
			font-style: italic;
			font-size: 0.75em;
		}
	</style>

	<!-- JS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-alpha.7/vega-lite.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.25/vega.js"></script>
	<script src="https://vega.github.io/vega-embed/vega-embed.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
	<div class="row" style="margin-top: 10%">
		<div class="two columns">
			<label for="tc-input-thresh">Threshold</label>
			<select class="u-full-width" id="tc-input-thresh">
				<option value="0.3">0.3</option>
				<option value="0.45">0.45</option>
			</select>
		</div>
		<div class="two columns">
			<label for="tc-input-tstep"># of time steps</label>
			<select class="u-full-width" id="tc-input-tstep">
				<option value="12">12</option>
				<option value="16">16</option>
				<option value="24">24</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="one-half column">
			<h5>Frequency of summary items <span class="subtext">by structure type</span></h5>
			<div id="view1"></div>
		</div>
		<div class="one-half column">
			<h5>Frequency of nodes <span class="subtext">by structure participation count</span></h5>
			<div id="view2"></div>
		</div>
	</div>
	<br>
	
</div>

<script type="text/javascript">
	function updateEmbed(spec_v1_url, spec_v2_url) {
		$.getJSON('static/spec_v1.json', function(spec) {
			spec.data[0].url = spec_v1_url;
			vega.embed('#view1', spec);
		});
		$.getJSON('static/spec_v2.json', function(spec) {
			spec.data[0].url = spec_v2_url;
			vega.embed('#view2', spec);
		});
	}

	function tcInputListener() {
		var thresh = $('#tc-input-thresh').find('option:selected')[0].value;
		var tstep = $('#tc-input-tstep').find('option:selected')[0].value;

		var pref = 'data/pos_' + thresh + '-' + tstep + '.json'
		var spec_v1_url = pref + '?type=struc_distr'
		var spec_v2_url = pref + '?type=node_distr'

		updateEmbed(spec_v1_url, spec_v2_url);
	}

	vega.embed('#view1', 'static/spec_v1.json');
	vega.embed('#view2', 'static/spec_v2.json');

	$('#tc-input-thresh').change(tcInputListener);
	$('#tc-input-tstep').change(tcInputListener);
</script>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
