<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>TimeCrunch Viz</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" type="text/css">
	<style>
		.header {
			margin-top: 10%;
		}
		.vega-actions {
			display: none;
		}
		.subtext {
			color: grey;
			font-style: italic;
			font-size: 0.75em;
		}
		#tc-table-data td span:not(:last-of-type)::after {
			content: ", ";
		}
	</style>

	<!-- JS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.25/vega.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-alpha.7/vega-lite.js"></script>
	<script src="//vega.github.io/vega-embed/vega-embed.js"></script>

	<script src="static/js/index.js"></script>
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
	<div class="header">
		<h2>TimeCrunch Viz</h2>
	</div>
	<div class="row">
		<div class="two columns">
			<label for="tc-input-thresh">Threshold</label>
			<select class="u-full-width" id="tc-input-thresh">
				<option value="0.30">0.30</option>
				<option value="0.45">0.45</option>
			</select>
		</div>
		<div class="two columns">
			<label for="tc-input-tstep"># of time steps</label>
			<select class="u-full-width" id="tc-input-tstep">
				<option value="12">12</option>
				<option value="16">16</option>
				<option value="24">24</option>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="one-half column">
			<h5>Frequency of summary items <span class="subtext">by structure type</span></h5>
			<div id="view1"></div>
		</div>
		<div class="one-half column">
			<h5>Frequency of nodes <span class="subtext">by structure participation count</span></h5>
			<div id="view2"></div>
		</div>
	</div>
	<br>
	<div class="row">
		<h5>Full TimeCrunch summary</h5>
		<table class="two-thirds column" id="tc-table">
			<thead>
				<tr>
					<th>Structure</th>
					<th>Time step(s)</th>
					<th># labeled / total nodes</th>
					<th>Cross entropy</th>
				</tr>
			</thead>
		</table>
	</div>
	<br>
</div>
{% raw %}
<script type="x-tmpl-mustache" id="tc-table-template">
	<tbody id="tc-table-data">
		{{#strucs}}
		<tr>
			<td>{{struc}}</td>
			<td>{{#tsteps}}<span>{{.}}</span>{{/tsteps}}</td>
			<td>{{num_comps}} / {{num_nodes}}</td>
			<td>{{#toFixed}}{{cross_entropy}}{{/toFixed}}</td>
		</tr>
		{{/strucs}}
	</tbody>
</script>
{% endraw %}

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
