<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>TimeCrunch Viz</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" type="text/css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/balloon-css/0.2.4/balloon.min.css" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

	<!-- JS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.25/vega.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-alpha.7/vega-lite.js"></script>
	<script type="text/javascript" src="//vega.github.io/vega-embed/vega-embed.js"></script>

	<script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.0/sigma.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.0/plugins/sigma.parsers.json.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}" defer></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/struct_pie.js') }}" defer></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/graph_viz.js') }}" defer></script>
</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
	<div class="header">
		<h2 class="centered">TimeCrunch<img src="{{ url_for('static', filename='images/brain.svg') }}" class="logo-icon">Viz</h2>
	</div>
	<div class="row">
		<div class="two columns offset-by-three">
			<label for="tc-input-subject">Subject</label>
			<select class="u-full-width" id="tc-input-subject">
				<option value="MH01">MH01</option>
				<option value="MH10">MH10</option>
				<option value="MH11">MH11</option>
				<option value="MH14">MH14</option>
				<option value="MH18">MH18</option>
				<option value="MH21">MH21</option>
				<option value="MP18">MP18</option>
				<option value="R01">R01</option>
				<option value="R06">R06</option>
				<option value="R18">R18</option>
				<option value="R35">R35</option>
			</select>
		</div>
		<div class="two columns">
			<label for="tc-input-thresh">Threshold</label>
			<select class="u-full-width" id="tc-input-thresh">
				<option value="0.30">0.30</option>
				<option value="0.45">0.45</option>
			</select>
		</div>
		<div class="two columns">
			<label for="tc-input-tstep">Time steps</label>
			<select class="u-full-width" id="tc-input-tstep">
				<option value="12">12</option>
				<option value="16">16</option>
				<option value="24">24</option>
			</select>
		</div>
	</div>
	<section class="no-top">
		<div class="row">
			<h6 class="centered header-upper">1. Graph sparsity <span class="subtext">over time</span><span class="tooltip"><a data-balloon="Graph sparsity is defined as: (n^2 - # edges) / n^2. Select from 'interpolate' dropdown menu to change line curvature." data-balloon-pos="up" data-balloon-length="xlarge"><img src="{{ url_for('static', filename='images/tooltip.svg') }}" class="tooltip-icon"></a></span></h6>
		</div>
		<div class="row">
			<div class="centered" id="view0"></div>
		</div>
	</section>
	<div class="row">
		<div class="one-half column">
			<h4 class="centered">Rest</h4>
		</div>
		<div class="one-half column">
			<h4 class="centered">Mindful Rest</h4>
		</div>
	</div>
	<section class="no-top">
		<div class="row">
			<h6 class="centered header-upper">2. Node count <span class="subtext">by structure participation count</span><span class="tooltip"><a data-balloon="Median and spread of structure participation can be inferred from the chart's shape. Hover over the bars to show node counts." data-balloon-pos="up" data-balloon-length="xlarge"><img src="{{ url_for('static', filename='images/tooltip.svg') }}" class="tooltip-icon"></a></span></h6>
		</div>
		<div class="row">
			<div class="one-half column">
				<div id="view1"></div>
			</div>
			<div class="one-half column">
				<div id="view2"></div>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<h6 class="centered header-upper">3. Summary item proportion <span class="subtext">by structure type</span><span class="tooltip"><a data-balloon="The first character denotes temporal, while the latter two denote the spatial structure. Hover over the slices to show percentages." data-balloon-pos="up" data-balloon-length="xlarge"><img src="{{ url_for('static', filename='images/tooltip.svg') }}" class="tooltip-icon"></a></span></h6>
		</div>
		<div class="row">
			<div class="one-half column">
				<svg id="view3" width="425" height="400"></svg>
			</div>
			<div class="one-half column">
				<svg id="view4" width="425" height="400"></svg>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<h6 class="centered header-upper">4. Graph viz &amp; full TimeCrunch summary<span class="tooltip"><a data-balloon="Click button for desired time step under 'Time step(s)' column of table below to toggle graph visualization. (First time step of first structure is automatically shown.)" data-balloon-pos="up" data-balloon-length="xlarge"><img src="{{ url_for('static', filename='images/tooltip.svg') }}" class="tooltip-icon"></a></span></h6>
		</div>
		<div class="row color-legend">
			<ul class="one column offset-by-two"><li data-type="dan">DAN</li></ul>
			<ul class="one column"><li data-type="dmn">DMN</li></ul>
			<ul class="one column"><li data-type="fpn">FPN</li></ul>
			<ul class="one column"><li data-type="ln">LN</li></ul>
			<ul class="one column"><li data-type="smn">SMN</li></ul>
			<ul class="one column"><li data-type="van">VAN</li></ul>
			<ul class="one column"><li data-type="vn">VN</li></ul>
			<ul class="two columns"><li data-type="unlabeled">Unlabeled</li></ul>
		</div>
		<div class="row">
			<div class="one-half column">
				<div id="graph-rest" class="graph-container"></div>
				<p class="centered ticker"><span class="struc-name"></span> (structure <span class="struc-ticker"></span>) at time step <span class="tstep-ticker"></span></p>
			</div>
			<div class="one-half column">
				<div id="graph-mindful-rest" class="graph-container"></div>
				<p class="centered ticker"><span class="struc-name"></span> (structure <span class="struc-ticker"></span>) at time step <span class="tstep-ticker"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="table-wrapper one-half column">
				<table id="tc-table">
					<thead>
						<tr>
							<th><a data-balloon="Spatio-temporal structure" data-balloon-pos="right">Struct</a></th>
							<th><a data-balloon="Interval(s) structure was present in" data-balloon-pos="right">Time step(s)</a></th>
							<th><a data-balloon="# labeled out of total nodes" data-balloon-pos="left">Lab/tot</a></th>
							<th><a data-balloon="Entropy relative to true labeled node distribution" data-balloon-pos="left">Entropy</a></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="table-wrapper one-half column">
				<table id="tc-table2">
					<thead>
						<tr>
							<th><a data-balloon="Spatio-temporal structure" data-balloon-pos="right">Struct</a></th>
							<th><a data-balloon="Interval(s) structure was present in" data-balloon-pos="right">Time step(s)</a></th>
							<th><a data-balloon="# labeled out of total nodes" data-balloon-pos="left">Lab/tot</a></th>
							<th><a data-balloon="Entropy relative to true labeled node distribution" data-balloon-pos="left">Entropy</a></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</section>
</div>

{% raw %}
<script type="x-tmpl-mustache" id="tc-table-template">
	<tbody id="tc-table-data">
		{{#strucs}}
		<tr>
			<td>{{struc}}</td>
			<td>{{#tsteps}}<span><button class="tstep-button js--tstep-button">{{.}}</button></span>{{/tsteps}}</td>
			<td>{{num_comps}}/{{num_nodes}}</td>
			<td>{{#toFixed}}{{cross_entropy}}{{/toFixed}}</td>
		</tr>
		{{/strucs}}
	</tbody>
</script>
<script type="x-tmpl-mustache" id="tc-table2-template">
	<tbody id="tc-table2-data">
		{{#strucs}}
		<tr>
			<td>{{struc}}</td>
			<td>{{#tsteps}}<span><button class="tstep-button js--tstep-button">{{.}}</button></span>{{/tsteps}}</td>
			<td>{{num_comps}}/{{num_nodes}}</td>
			<td>{{#toFixed}}{{cross_entropy}}{{/toFixed}}</td>
		</tr>
		{{/strucs}}
	</tbody>
</script>
{% endraw %}

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
