{% extends "con-viz.html" %}
{% block title %}TimeCrunch Viz{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/tc-viz.js') }}" defer></script>
{% endblock %}
{% block header %}TimeCrunch<img src="{{ url_for('static', filename='images/wait.svg') }}" class="logo-icon">Viz{% endblock %}
{% block mode_button %}{% endblock %}
{% block content %}
<section>
	{% block graph_header %}
		{{ super() }}
	{% endblock %}
	<div class="row">
		<div class="table-wrapper tc-view">
			<table id="tc-table" class="u-full-width">
				<thead>
					<tr>
						<th><a data-balloon="Click button to visualize corresponding row" data-balloon-pos="right">View</a></th>
						<th><a data-balloon="Spatio-temporal structure" data-balloon-pos="right">Struct</a></th>
						<th><a data-balloon="Interval(s) structure was present in" data-balloon-pos="right">Time step(s)</a></th>
						<th><a data-balloon="# labeled out of total nodes" data-balloon-pos="left">Lab/tot</a></th>
						<th><a data-balloon="Entropy relative to true labeled node distribution" data-balloon-pos="left">Entropy</a></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</section>
{% endblock %}
{% block mustache %}
{% raw %}
<script type="x-tmpl-mustache" id="tc-table-template">
	<tbody id="tc-table-data">
		{{#strucs}}
		<tr {{#split_start}}data-split-start="{{split_start}}"{{/split_start}}>
			<td><button class="button-primary js--row-button"><span>&orarr;</span></button></td>
			<td>{{struc}}</td>
			<td class="js--tsteps">{{#tsteps}}<span>{{.}}</span>{{/tsteps}}</td>
			<td>{{num_comps}}/{{num_nodes}}</td>
			<td>{{#toFixed}}{{cross_entropy}}{{/toFixed}}</td>
		</tr>
		{{/strucs}}
	</tbody>
</script>
<script type="x-tmpl-mustache" id="graph-template">
	<div id="graph-data">
		{{#tsteps}}
		{{#first_col}}
		<div class="row">
		{{/first_col}}
			<div class="four columns js--graph-wrapper {{#offset}}offset-by-{{offset}}{{/offset}}">
				<div id="graph-t{{tstep}}" class="graph-container mini"></div>
				<p class="centered ticker">time step <span class="tstep-ticker">{{tstep}}</span></p>
			</div>
		{{#last_col}}
		</div>
		{{/last_col}}
		{{/tsteps}}
	</div>
</script>
{% endraw %}
{% endblock %}